<div class="todo-div">
  <!-- d-flex justify-content-center align-items-center  -->
  <div class="container">

    <h2>Todo</h2>
    <fieldset class="form-group">
      <label>Description</label>
      <input name="description" [(ngModel)]="todo.description" type="text" class="form-control" required="required">
    </fieldset>

    <fieldset class="form-group">
      <label>Target Date</label>
      <input name="completedDate" [ngModel]="todo.completedDate | date:'yyyy-MM-dd'"
        (ngModelChange)="todo.completedDate = $event" type="date" class="form-control" required="required">
    </fieldset>

    <button class="btn btn-success" (click)="saveTodo()">Save</button>

  </div>
</div>
