<header class="mb-3">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">

            <div><a class="navbar-brand" href="#">Todo App</a></div>

            <ul class="navbar-nav">
                <li class=""><a class="nav-link" href="/welcome/abidzaidi">Home</a></li>
                <li class=""><a class="nav-link" href="/todos">My Todos</a></li>
            </ul>

            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li class=""><a class="nav-link" href="/login">Login</a></li>
                <li class=""><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>

    </nav>
</header>
