<h1> My Todos</h1>

<div class="container my-4">

    <div class="alert alert-success" *ngIf = "successMessage"> {{ successMessage }}</div>
    <div class="alert alert-danger" *ngIf = "errorMessage"> {{ errorMessage }}</div>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Created Date</th>
                <th>Completed</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let todo of todos'>
                <td>{{ todo.description }}</td>
                <td>{{ todo.createdDate | date}}</td>
                <td>{{ todo.isCompleted }}</td>
                <td><button (click) = "updateTodo(todo.id)" class="btn btn-primary">Update</button></td>
                <td><button (click) = "deleteTodo(todo.id)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-md btn-primary" routerLink="/welcome/abidzaidi" role="button">Home</a>
</div>
<!-- <a routerLink = "/welcome">Home</a> -->
